tr:first-child,
td:first-child {
  background-color: #eaeaed;
  width: 50px;
}

tr:first-child .selected,
td:first-child .selected {
  background-color: #c9d9e9;
}

table {
  border: #e3e4e6;
}

td {
  height: 35px;
}

input {
  width: 95%;
  height: 30px;
  border: none;
}

input:focus {
  outline: none;
  background-color: #c9d9e9;
}

.unselected {
  background-color: #eaeaed;
}
